@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

body { display: flex;
margin: 0;
height: 100vh;
font-family: "Roboto", sans-serif; }

#Main { width: 100%;}
#Content {height: 100%;}

#Sidebar { display: flex;
flex-direction: column;
align-items: center;}

.sidebar-icon { padding: 2em;
display: flex;
flex-direction: column;
align-items: center;
cursor: pointer;}

.sidebar-icon
 p { margin: 0;}

 .sidebar-icon ion-icon {font-size: 1.5em;}

 #Topbar { height: 8vh;
display:flex;
justify-content: space-between;
align-items: center;
margin: 10px;}

 #logo { height: 70%;}

 #barra-ricerca { display: flex;
height: 50%;}

#topbar-icons { display: flex;}

.topbar-icon ion-icon {font-size: 2em;
padding: 0 0.3em;}

#mic-icon ion-icon {
    font-size: 1.7em;
    margin: 0 0.5em
}


#search {
    padding: 0 0.6em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

#Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 2.5em;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
}

.card {
    width: 30%;
    margin-bottom: 25px;
}

.card > img {
    width: 100%;
    height: auto;
}

.sottocard {
    display: flex;
    align-items: flex-start;
    margin-top: 7px;
}

.logo-card {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.testi-card {
    margin-left: 10px;
}

.testi-card h3 {
    margin: 0;
    font-size: 14px;
}

.testi-card p {
    margin: 4px 0 0;
    font-size: 12px;
}